body{
    background-color: rgb(29, 16, 42);
}
@font-face {
    font-family: mainFont;
    src: url(Louis\ George\ Cafe.ttf);
}
#msgHead {
    height: 60px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
#msgTitle {
    position: relative;
    margin-left: 5px;
    font-weight: 24px;
}
.text {
    font-family: mainFont;
    color: white;
}
#pfp {
    width: 50px;
    height: 50px;
    object-fit: cover;
    content: url(./Media/pfp.png);
    position: relative;
    border-radius: 50%;
    margin-left: 10px;
    object-position: -1px;
    margin-right: 5px;
}
#msgContent {
    font-size: 20px;
    margin-top: -15px;
    margin-left: 70px;
    width: 500px;
}
#creationsHead {
    text-align: center;
    margin-top: 75px;
}
#creationsCont {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 250px;
    flex-wrap: wrap;
}

#creationsCont div {
    object-fit: contain;
    display: flex;
    padding: 5px;
    width: 400px;
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    border-color: #616161;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    background-color: rgb(21, 12, 31);
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
}
#creationsCont div:hover {
    cursor: pointer;
}
#creationsCont div p {
    position: absolute;
    background-color: rgb(29, 16, 42);
    z-index: 1;
    width: 100%;
    display: block;
    text-align: center;
    height: 45px;
    line-height: 40px;
    font-size: 20px;
    bottom: -70px;
    border-top: #616161;
    border-width: 2px;
    border-style: solid;
    transition: bottom 0.3s ease;
}
#creationsCont div:hover p {
bottom: -25px;
}
#creationsCont div div {
    position: absolute;
    width: 400px;
    height: 250px;
    z-index: 0;
    margin: 0;
    opacity: 0.1;
    transition: background-Color 0.3s ease;
}
#creationsCont div div:hover {
    background-color: #fff;
}
#creationWindow {
    width: 65%;
    height: 600px;
    background-color: rgb(29, 16, 42);
    border-width: 2px;
    border-color: #616161;
    border-style: solid;
    position: fixed;
    top: 50%;
    left: -9999;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    z-index: 3;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    display: flex;
}
#imageCont {
    background-color: rgb(21, 12, 31);
    height: 85%;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#label {
    font-size: 50px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: 0;
}
#creationImage {
    display: block;
    object-fit: contain;
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}
#desc {
    display: flex;
    width: 100%;
    height: 100%;
}
#closeButton {
    width: 35px;
    height: 35px;
    position: inherit;
    left: 10;
    bottom: 10;
}
#closeButton:hover {
    filter: drop-shadow(0px 0px 2px #ffffff4b);
    cursor: pointer;
}
@keyframes openAnimation {
    0% {transform: translate(-50%, -50%); opacity: 0; left: 50%; margin-top: 50px;}
    100% {transform: translate(-50%, -50%); opacity: 100%; left: 50%;}
}
@keyframes closeAnimation {
    0% {transform: translate(-50%, -50%); opacity: 100%; left: 50%;}
    100% {transform: translate(-50%, -50%); opacity: 0; left: 50%; margin-top: 50px;}
}